
<ion-content class="ion-padding">

  <topo-login title="cadastrar usuario"></topo-login>

  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" color="if" autfocus="true"> </ion-input>
    </ion-item><br>
    
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome" color="if" autfocus="true"> </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" color="if" autfocus="true"> </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha" color="if"> </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="confirm_password" type="confirm_password" placeholder="Confirmar" color="if"> </ion-input>
    </ion-item><br><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Criar Conta</ion-button>
  </form><br><br>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
