<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-row>
    <ion-col>
        <ion-title >
          Controle Financerio Estudantil
        </ion-title>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="exit-outline" size="large" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

  <ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="calendar" slot="start" color="if"></ion-icon>
        <ion-label><b>Filtrar por mês e ano:</b></ion-label>
        <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
      </ion-item>
    </ion-card>
  
  </ion-card>

  <dash-card
    valor = {{conta.saldo.valor}}
    tipo = "saldo"
    num = {{conta.saldo.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.receber.valor}}
    tipo = "receber"
    num = {{conta.receber.num}}
  ></dash-card>
  
  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" fill="outline" color="danger" expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']" fill="outline" color="success" expand="block">Contas a Receber</ion-button>
    <ion-button [routerLink]="['/contas/cadastro']" fill="outline" color="if" expand="block">Adicionar Conta</ion-button>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" color="medium">
      <strong>
        iFinanças - Controle Financerio
      </strong>
    </ion-title>
    <ion-title size="small" color="medium">
      <strong>
        Desenvolvido por Thomas Viana
      </strong>
      </ion-title>
  </ion-toolbar>
</ion-footer>
