<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

  <form [formGroup]="contasForm" (submit)="registrarConta()">
    <ion-item class="ion-margin-bottom">
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" color="if" autfocus="true"> </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição da conta" color="if" > </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor da conta" color="if" > </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-icon name="calendar" slot="start" color="if"></ion-icon>
      <ion-label>Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-radio-group formControlName="tipo">
      <ion-item class="ion-margin-bottom">
        <ion-label color="if">A pagar</ion-label>
        <ion-radio slot="start" color="if" value="pagar" ></ion-radio>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label color="if">A receber</ion-label>
        <ion-radio slot="start" color="if" value="receber" ></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" class="ion-margin-bottom">Enviar</ion-button>
  </form><br><br>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/contas/pagar']" fill="clear" color="medium">Contas a Pagar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/contas/receber']"  fill="clear" color="medium">Contas a Receber</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
