<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contas a {{tipo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

  <ion-list class="ion-margin-bottom">
    <ion-item *ngFor="let conta of listaContas">
      <ion-label>
        <h2>{{ conta.parceiro }}</h2>
        <p>{{ conta.descricao }}</p>
        <h4>R$ {{ conta.valor }} </h4>
      </ion-label>
      <ion-icon slot="end" name="create" color="if" (click)="edita(conta)" class="editar"></ion-icon>
      <ion-icon slot="end" name="trash" color="danger" (click)="remove(conta)"></ion-icon>
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="if" [routerLink]="['/contas/cadastro']" routerLinkActive="router-link-active">  
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
