<ion-content class="ion-padding">


  <topo-login></topo-login>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" color="if" autfocus="true"> </ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" color="if" placeholder="Senha"> </ion-input>
    </ion-item><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Login</ion-button>
  </form><br><br>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']"  fill="clear" color="medium">Criar conta</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
